<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <title>WebSocket Documentation</title>
    <style>
        code {
            background-color: #f4f4f4;
            padding: 2px 4px;
            font-size: 90%;
            color: #c7254e;
            border-radius: 4px;
        }

        pre {
            background-color: #f4f4f4;
            padding: 10px;
            max-width: 50%;
            overflow-x: auto;
            white-space: pre-wrap;
            word-wrap: break-word;
            border: 1px solid #ddd;
            border-radius: 5px;
        }
    </style>
</head>
<body>
<div class="container mt-5">
    <h1>WebSocket Documentation</h1>
    <p>To connect to the WebSocket endpoint, use <code>ws://host-name/ws</code></p>
    <p>Subscribe to the channel <code>/user/{userId}/push</code> to receive personal notifications.</p>
    <p>Subscribe to the channel <code>/org/{orgId}/push</code> to receive broadcasting notifications.</p>
    <p>Web Sockets were tested using these libraries:</p>
    <ul>
        <li><a href="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js" target="_blank">STOMP.js
            2.3.3</a></li>
        <li><a href="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js" target="_blank">SockJS
            Client 1.6.1</a></li>
        <li><a href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" target="_blank">jQuery 3.7.1</a>
        </li>
        <li><a href="https://cdn.jsdelivr.net/npm/jwt-decode@3.1.2/build/jwt-decode.min.js" target="_blank">jwt-decode
            3.1.2</a></li>
    </ul>
    <br>
    <h2>WebSocket Security</h2>
    <p>Since project implemented JWT Bearer tokens</p>
    <p>It is asked to send one when connecting to channels</p>
    <p>Send Authorization header along with <code>'Bearer ${accessToken}'</code> on connect</p>
    <p>Extract all necessary info from JWT as userId and orgId (not impl yet)</p>
    <p>Then send subscribe messages to corresponding destinations</p>
</div>
<div class="container-md">
    <h2>Message formats</h2>
    <p>Message format varies depending on push-notification type. E.g.</p>
    <pre>{
        "notificationId":2,
        "recipientId":2,
        "recipientType":"USER",
        "data":{
            "sub":"Запрос о принятии заказа",
            "orgName":"Org name",
            "code":"?code=_oTye7GlgWRgO3pe0orqiA",
            "orderImg":"",
            "orderId":"4",
            "logo":"",
            "title":"Postman Order",
            "orgId":"1"
            },
        "timestamp":"2024-05-26T09:45:00.306547Z",
        "read":false,
        "sent":true
}</pre>
    <br>
    <pre>{
    "email": "example@mail.com" // ignore this property
    "sub": "Приглашение в организацию",
    "orgId: "15",
    "orgName": "Some Organization",
    "logo": "http://logotype.org/934cpadci.jpg",
    "code": "?code=mdc903ocG48kwkwX", // code for button
    "timestamp": "2024-05-19T09:39:23.608360Z"
}
    </pre>
    <br>
    <pre>{
    "sub": "Подтвержден заказ",
    "orderId": "3",
    "title": "Order",
    "key": "T-1-4",
    "authorId": "2",
    "authorName": "Test User",
    "authorAvatar": "http://avatars.com/u/3mx4.jpg",
    "timestamp": "2024-05-19T09:39:23.608360Z"
}</pre>
    <br>
    <pre>{
    "sub": "Статус заказа обновлен",
    "employeeId": "15", // belongs to whom made update
    "employeeName": "User Updated Order",
    "employeeAvatar": "http://avatars.com/u/3mx4.jpg",
    "taskId": "9534",
    "key": "T-2-82",
    "title": "Order title",
    "oldStatus": "NEW",
    "newStatus": "IN_PROGRESS",
    "timestamp": "2024-05-19T09:39:23.608360Z"
}
    </pre>
    <br>
    <pre>{
    "sub": "Вас отстранили от заказа",
    "orderId": "45",
    "title": "Order title",
    "key": "T-1-3",
    "image": "http://img.ru/irucnaw.jpg",
    "status": "CHECKING",
    "timestamp": "2024-05-19T09:39:23.608360Z"
}
    </pre>
    <br>
    <pre>{
    "sub": "Вас назначили на заказ",
    "orderId": "45",
    "title": "Order title",
    "key": "T-1-3",
    "image": "http://img.ru/irucnaw.jpg",
    "status": "CHECKING",
    "timestamp": "2024-05-19T09:39:23.608360Z"
}
    </pre>
    <br>
    <pre>{
    "sub": "Ваша должность обновлена", // for user personally
    "posId": "25",
    "title": "Position title",
    "timestamp": "2024-05-19T09:39:23.608360Z"
}
    </pre>
    <br>
    <pre>{
    "sub": "Должность была обновлена", // for org broadcasting
    "posId": "25",
    "title": "Position title",
    "timestamp": "2024-05-19T09:39:23.608360Z"
}
    </pre>
    <br>
    <pre>{
    "sub": "Вы назначены на новую должность",
    "posId": "25",
    "title": "Position title",
    "email": "email@example.com" // ignore this property
    "timestamp": "2024-05-19T09:39:23.608360Z"
}
    </pre>
    <p>For retrieving notifications history format is as follows:</p>
    <pre>{
  "content": [
    {
      "notificationId": 1,
      "recipientId": 101,
      "recipientType": "USER",
      "data": {
        "message": "You have a new message",
        "from": "John Doe"
      },
      "timestamp": "2024-05-23T10:15:30Z",
      "isSent": true,
      "isRead": false
    },
    {
      "notificationId": 2,
      "recipientId": 101,
      "recipientType": "USER",
      "data": {
        "message": "Your order has been shipped",
        "from": "Shop"
      },
      "timestamp": "2024-05-23T11:00:00Z",
      "isSent": true,
      "isRead": false
    }
    // More notifications...
  ],
  "hasNext": true
}
    </pre>
</div>
</body>
</html>
